html{
	font-size: 14px;
}
#mainBox{
	height: 100%;
	overflow: auto;
}
/*headBar*/
.headBar{
    position: fixed;
    top: 0;
    width:100%;
  	height: 3rem;
  	text-align: center;
    background: #34CDCE;
    color: #fff;
    z-index: 100;
}
.headBarBox{
	margin: 1rem 0;
}
.headBarBox .columnOne{
	width: 9%;
}
.headBarBox .columnTwo{
	width: 80%;
}
.headBarBox .columnThree{
	width: 9%;
}
.headBarBox span{
    display: inline-block;
    /*color: #fff;*/
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 0px;
}
/*noticeBar*/
.noticeBar{
    position: fixed;
    top: 3rem;
    width: 100%;
  	height: 2rem;
  	text-align: center;
    background: #F4F4F4;
    color: #F7C058;
    z-index: 100;
}

.noticeBarBox .columnOne{
	width: 7%;
}
.noticeBarBox .columnTwo{
	width: 85%;
}
.noticeBarBox .columnThree{
	width: 7%;
}
.noticeBarBox span{
    display: inline-block;
    font-size: 0.5rem;
    letter-spacing: 1px;
    margin: 0.65rem auto;
}
.noticeBarBox .icon{
	margin: 0.3rem auto;
    font-size: 1.1rem;
    
}
/*page1-1*/
.charBox{
	position: relative;
	margin-top: 5.5rem;
}
.abilityBox{
	position: relative;
}