html{
	font-size: 16px;
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
ul,li{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
body{
	overflow-x: hidden;
}
/**/
#mainBox{
	height: 100%;
	width: 100%;
	/*overflow: auto;*/
	/*overflow-x: hidden;*/
}
/*headBar*/
.headBar{
    position: fixed;
    top: 0;
    width:100%;
  	height: 3rem;
  	text-align: center;
    background: #34CDCE;
    color: #fff;
    z-index: 100;
}
.headBarBox{
	/*margin: 1rem 0;*/
	line-height: 3rem;
}
.headBarBox .column_1{
	width: 9%;
}
.headBarBox .column_2{
	width: 80%;
}
.headBarBox .column_3{
	width: 9%;
}
.headBarBox span{
    display: inline-block;
    /*color: #fff;*/
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 0px;
}
/*noticeBar*/
.noticeBar{
    position: fixed;
    top: 3rem;
    width: 100%;
  	height: 2rem;
  	text-align: center;
    background: #F4F4F4;
    color: #F7C058;
    z-index: 100;
}

.noticeBarBox .column_1{
	width: 7%;
}
.noticeBarBox .column_2{
	width: 80%;
}
.noticeBarBox .column_3{
	width: 7%;
}
.noticeBarBox span{
    display: inline-block;
    font-size: 12px;
    /*letter-spacing: 1px;*/
    line-height: 2rem;
    white-space: nowrap;
    overflow: auto;
}
.noticeBarBox .icon{
	position: relative;
	top: -0.6rem;
	margin: 0 auto;
    font-size: 1.1rem;
    
}
/******page1-1******/
/*char*/
#page1-1 .charBox{
	position: relative;
	margin-top: 5rem;
	margin-bottom: 1.5rem;
}
#radarLegend{
	position: relative;
	left: 3%;
	color: #8A8888;
	font-size: 0.5rem;
	font-weight: 700;
}
#radarChartCanvas{
	/**/
}
/**/
#abilityBox{
	position: relative;
}
.abilityBoxHead{
	position: relative;
	width: 100%;
	height: 2.5rem;
	line-height: 2.5rem;
	color: #8A8888;
	font-weight: 700;
	background-color: #F4F4F4;
}
.abilityBoxHead span{
	font-size: 0.5rem; 
}
.abilityBoxHead span:nth-child(1){
	margin-left: 5%;
}
.abilityBoxHead span:nth-child(2){
	margin-left: 45%;
}
/*能力构成list*/
#abilityScoreList li{
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	border-bottom: 1px solid rgba(204,204,204,0.2);
}
#abilityScoreList li .icon{
	color: #34CDCE;
}
#abilityScoreList li:last-child{
	border-bottom: none;
}
#abilityScoreList li .column_1{
	position: relative;
	display: inline-block;
	width: 8%;
	left: 4%;
}
#abilityScoreList li .column_2{
	position: relative;
	display: inline-block;
	width: 58%;
	left: 6%;
	color: #555;
}
#abilityScoreList li .column_3{
	position: relative;
	display: inline-block;
	width: 10%;
	left: 2%;
	color: #c0c0c0;
	font-weight: 700;
	letter-spacing: 1px;
}
#abilityScoreList li .column_4{
	position: relative;
	display: inline-block;
	width: 10%;
	left: 13%;
}
.abilityScoreListAddBtn{
	/*padding-left: 2%;*/
}
#abilityScoreList li .toNextPage{
	font-size: 1.5rem;
	font-weight: 700;
}
/******page2-1******/
#page2-1{
	color: #6B6464;
}
/*char*/
#page2-1 .charBox{
	position: relative;
	margin-top: 4.5rem;
	margin-bottom: 1.5rem;
}
#page2-1 .leftSpan{
	position: relative;
	left: 6%;
	font-size: 0.9rem;
	font-weight: bold;
	color: #646464;
}
#lineLegend{
	position: relative;
	display: inline-flex;
	display: -webkit-inline-flex; /* Safari */
	left: 52%;
	color: #646464;
	font-size: 0.5rem;
	background-color: #FEE75B;
	padding: 6px 0px 4px 3px;
}
#lineLegend:after {
	position: relative;
	top: 24px;
	right: 75px;
	content: "";
    width: 0;
    height: 0;
    border-top: 8px solid #FEE75B;
    border-right: 12px solid transparent;
}
#lineLegend .icon-file-o{
	position: relative;
	float: left;
	font-size: 1.3rem;
	color: #fff;
}
#lineLegend p{
	position: relative;
	margin: -2px 0;
	margin-left: 2px;
}
#lineLegend p.line1{
	font-size: 0.8rem;
	font-weight: 700;
}
#lineLegend p.line2{
	font-size: 0.5rem;
}

#page2-1_box2{
	position: relative;
	width: 100%;
	height: 13.5rem;
	background-color: #F4F4F4;
}
#page2-1_box2Head{
	padding: 1rem;
	line-height: 1rem;
	color: #6B6464;
	font-weight: 700;
	font-size: 0.8rem;
}
#page2-1_box2Head span{
	position: relative;
}
#page2-1_box2Head span:nth-child(1){
	left: 3%;
}
#page2-1_box2Head span:nth-child(2){
	left: 45%;
}
#page2-1_box2Head span:nth-child(3){
	left: 40%;
}
 #page2-1_box2 .box2innerBox{
	display: inline-block;
	position: relative;
	height: 8.5rem;
	background-color: #FFF;
}
#page2-1_box2 .box2innerBox p{
	margin: 0 auto;
}
#page2-1_box2 .box2innerBoxLeft{
	left: 3%;
	width: 54%;
	font-size: 0.8rem;
	
	overflow: auto;
}
#page2-1_box2 .box2innerBoxLeft .contentBox{
	display: inline-block;
	padding: 1px 6px;
	width: 87%;	
}
#abilityRangeList li{
	border-bottom: 1px solid #ddd; 
	width: 100%;
	padding: 10px 0;
	/*margin-bottom: 15px;*/
}
#abilityRangeList li:last-child{
	border-bottom: none; 
}
#abilityRangeList li:nth-child(1) span:nth-child(1){
	background-color: #FFE858;
}
#abilityRangeList li:nth-child(2) span:nth-child(1){
	background-color: #E2E2E2;
}
#abilityRangeList li:nth-child(3) span:nth-child(1){
	background-color: #DFBC82;
}
#abilityRangeList li span{
	position: relative;
	display: inline-block;
}
#abilityRangeList li span:nth-child(1){
	left: 5%;
	color: #fff;
	font-size: 0.8rem;
	font-weight: 700;
	padding: 1px 0.3rem;
}
#abilityRangeList li span:nth-child(2){
	left: 8%;
	font-weight: 700;
	color: #6B6464;
	width: 40%;
}
#abilityRangeList li span:nth-child(3){
	left: 20%;
	font-weight: 700;
	color: #6B6464;
	width: 14%;
}
.abilityRangeInfo{
	position: relative;
	left: 27%;
	color: #34CDCE;
	font-size: 1.2rem!important;
}
#page2-1_box2 .box2innerBoxRight{
	left: 3.5%;
	width: 37%;
	overflow: auto;
}
#page2-1_box2 .box2innerBoxRight .contentBox{
	display: inline-block;
	padding: 8px;
	font-size: 12px;
	line-height: 18px;
}
#page2-1_box3 span{
	display: inline-block;
	text-align: center;
}
#learnAndPracBtn{
	width: 30%;
	background-color: #FFE858;
}
#enterTestBtn{
	width: 60%;
	background-color: #34CDCE;
}