<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- 屏幕缩放 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<title>员工评测站</title>
	<script src="js/Chart.js"></script>
	<script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
	<!-- <script type="text/javascript" src="https://unpkg.com/vue"></script> -->
	<script type="text/javascript" src="js/vue.min.js"></script>

	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="iconfont/iconfont.css">
</head>
<body>
	<div id="mainBox">
		<div class="headBar">
            <div class="headBarBox">
                <i class="icon iconfont icon-fanhui column_1" id="backBtn"></i>
                <span class="column_2 headBarContent" >{{ text }}</span>
                <i class="icon iconfont icon-more column_1" id="icon-more" style="display: none"></i>
                <i class="icon iconfont icon-myselected column_3" id="icon-myselected"></i>
            </div>
        </div>
        <div class="noticeBar">
        	<div class="noticeBarBox">
        		<i class="icon iconfont icon-yinliang column_1" id=""></i>
        		<span class="noticeBarContent column_2">{{text}}</span>
                <i class="icon iconfont icon-guanbi column_3 noticeBarCloseBtn" id=""></i>
        	</div>
        </div>
		<div id="page1-1" class="pages">
			<div class="charBox">
				<div id="radarLegend">能力状况</div>
				<canvas id="radarChartCanvas" width="90%" height="55rem"></canvas>
			</div>
			<div id="abilityBox">
				<div class="abilityBoxHead">
					<span class="column_1">能力构成</span>
					<span class="column_2">能力积分</span>
				</div>
				<ul id="abilityScoreList">
					<li v-for="abLiItem in abLiItems" ><i class="icon iconfont icon-add column_1 abilityScoreListAddBtn"></i><span class="column_2">{{ abLiItem.name }}</span><span class="column_3">{{ abLiItem.points }}</span><i class="icon iconfont icon-arrow-right column_4 toNextPage"></i></li>
				</ul>
			</div>
		</div>
		<div id="page2-1" class="pages" style="display: none;">
			<div class="charBox">
				<span class="leftSpan">测试状况</span>
				<div id="lineLegend"><i class="icon iconfont icon-file-o"></i><span><p class="line1">测试报告</p><p class="line2">2018/8/13</p></span></div>
				<canvas id="lineChartCanvas" width="90%" height="50rem"></canvas>
				<div id="lineChartSlideBarBox">
					<input type="range" id="lineChartSlideBar" name="lineChartSlideBar"  value="0" step="1" min="1" max="9">
				</div>
			</div>
			<div id="page2-1_box2">
				<div id="page2-1_box2Head">
					<span>能力榜样</span>
					<span>本次测试说明</span>
					<!-- <span>能力值</span> -->
				</div>
				<div class="box2innerBox box2innerBoxLeft">
					<span class="contentBox">
						<ul id="abilityRangeList">
							<li v-for="abRanItem in abRanItems"><span>{{ abRanItem.range }}</span><span>{{ abRanItem.name }}</span><span>{{ abRanItem.score }}</span><i class="icon iconfont icon-i abilityRangeInfo"></i></li>				
						</ul>
					</span>
				</div>
				<div class="box2innerBox box2innerBoxRight">
					<span class="contentBox" v-html="text"></span>
				</div>
			</div>
			<div id="page2-1_box3">
				<span id="learnAndPracBtn">学习与练习</span>
				<span id="enterTestBtn">进入测试</span>
			</div>
		</div>
		<div id="page3-1" class="pages" style="display: none;"></div>
		<div id="page3-2" class="pages" style="display: none;"></div>
		<div id="page4-1" class="pages" style="display: none;"></div>
	</div>

	<script src="js/main.js" type="text/javascript"></script>
</body>
</html>